.navbar {
    
    background-color: #4c4c6c;
    display: flex;
    justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  position: relative;
}
.lgo{
    font-weight: 500;
  }

.navButton {
    margin-left: 20px;
    border: 1px;;
    padding: 5px 10px;
    cursor: pointer;
    color: black;
}